---
import BaseLayout from '../../layouts/BaseLayout.astro';
import getSlug from '../../utils/getSlug';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site?.href}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <div class="my-0 mx-auto max-w-2xl w-full">
    <h1>Blog</h1>
    {
      allPosts.map((post, index) => {
        const href = `/blog/${getSlug(post.file)}`;
        return (
          <div>
            {index !== 0 && <hr class="my-4 mx-auto" />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.frontmatter.title}</a>
              </h2>
              <p>{post.frontmatter.description}</p>
              <div class="font-sans font-bold">
                <span class="text-stone-600 uppercase text-left mr-4">
                  — {post.frontmatter.publishDate}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>
